default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: accounting_development

test:
  <<: *default
  database: accounting_test

production:
  <<: *default
  database: <%= ENV['ACCOUNTING_DATABASE'] %>
  username: <%= ENV['ACCOUNTING_DATABASE_USERNAME'] %>
  password: <%= ENV['ACCOUNTING_DATABASE_PASSWORD'] %>

