body .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.left_col {
  z-index: 0 !important;
}

.login_content form input[type="submit"], #content form .submit {
  float: none !important;
  margin-left: 0 !important;
}

.notice {
  text-align: center;
  color: white;
  background-color: green;
}

.devise-alert {
  text-align: center;
  color: white;
  background-color: darkorange;
}

.alert {
  margin-top: 45px !important;
  margin-bottom: 0 !important;
}

#error_explanation ul {
  list-style-type: square;
}

#error_explanation ul li {
  color: red;
}

.center {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.action {
  text-align: right;
  width: 15%;
}

#table-transactions thead tr th {
  font-size: 12px;
}

tbody#transactions {
  font-size: 12px;
}

.modal-lg {
  width: 1100px !important;
}

.modal-header {
  background-color: #2A3F54;
  color: #FFFFFF;
}

.modal-header button span {
  color: #FFFFFF;
}

ul#select2-supplier_id-results li.add, ul#select2-customer_id-results li.add {
  background-color: gray;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.clearfix {
  margin: 5px 0;
}
