body .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.nav.child_menu li a:hover {
  color: #00008B !important;
}

#account-wizard {
  padding: 50px 0;
  background-color: lightgrey;
}

#wizard-wrapper {
  width: 750px;
  margin: 0 auto;
}

#wizard-wrapper ul li a {
  text-transform: uppercase;
  font-weight: 200;
}

#wizard-wrapper ul li:not(.active) {
}

#wizard-wrapper ul li:not(.active) a {
  color: #000000;
}

#wizard-wrapper ul li:not(.active) a:hover {
  background-color: lightgrey;
}

#wizard-wrapper .wizard-content {
  padding: 10px;
  border: 1px solid lightgrey;
  border-top: 0;
  background-color: #FFFFFF;
}

#wizard-wrapper .tab-content {
  background-color: #FFFFFF;
}

#wizard-wrapper form.form-account {
  width: 500px;
  margin: 0 auto;
}

.wizard .content section {
  margin-left: 14px !important;
}

table.table-scroll {
  table-layout: fixed;
  font-size: 12px;
}

.table-content {
  height:  380px;
  overflow-y: auto;
}

.table-content table tbody tr td span.header, table tbody tr td input.header {
  font-weight: 500;
}

.table-content table tbody tr td span {
  font-weight: 200;
}

.btn-save-account {
  margin-top: -7px;
}

.wizard .steps ul li a {
  font-size: 12px;
  font-weight: 400 !important;
}

.profile-picture {
  margin-right: 10px;
  border-radius: 50%;
}

.left_col {
  z-index: 0 !important;
}

.login_content form input[type="submit"], #content form .submit {
  float: none !important;
  margin-left: 0 !important;
}

.notice {
  text-align: center;
  color: white;
  background-color: green;
}

.devise-alert {
  text-align: center;
  color: white;
  background-color: darkorange;
}

.alert {
  margin-top: 45px !important;
  margin-bottom: 0 !important;
}

#error_explanation ul {
  list-style-type: square;
}

#error_explanation ul li {
  color: red;
}

.center {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.action {
  text-align: right;
  width: 18%;
}

#table-transactions thead tr th {
  font-size: 12px;
}

tbody#transactions {
  font-size: 12px;
}

.modal-lg {
  width: 1100px !important;
}

.modal-header {
  background-color: #2A3F54;
  color: #FFFFFF;
}

.modal-header button span {
  color: #FFFFFF;
}

.modal-content .item-unit span.select2-container {
  width: 398px !important;
}

.modal-content .item-allocated-to span.select2-container {
  width: 270px !important;
}

ul#select2-supplier_id-results li.add, ul#select2-customer_id-results li.add {
  background-color: gray;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.clearfix {
  margin: 5px 0;
}

#preview .action {
  width: 50%;
}

.btn-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

.btn-xls {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#income-statement table tr td, #balance-sheet table tr td {
  width: 25%;
  font-size: 12px;
}

.timeline .block {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

h2.title {
  font-size: 14px !important;
}

.byline {
  padding: 0 !important;
}

.byline span {
  font-size: 12px !important;
}

#dashboard #transaction_overview {
  margin: 0 !important;
}
