html lang="en"
  head
    meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
    / Meta, title, CSS, favicons, etc.
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"

    title Accounting

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body.nav-md.footer_fixed
    .container.body
      .main_container
        .col-md-3.left_col.menu_fixed
          .left_col.scroll-view
            .navbar.nav_title style="border: 0;"
              a.site_title href="#{ root_path }"
                i.fa.fa-calculator
                | &nbsp;
                span Accounting

            .clearfix

            = render 'shared/sidebar'

        = render 'shared/header'

        / page content
        .right_col role="main"
          div class=""
            = yield :content_header

            .clearfix

            = content_for?(:content) ? yield(:content) : yield

        = render 'shared/footer'
